POSTGRES_DB=wb_analytics
POSTGRES_USER=wb_app
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
PGBOUNCER_POOL_MODE=transaction
PGBOUNCER_MAX_CLIENT_CONN=500
PGBOUNCER_DEFAULT_POOL_SIZE=30
PGBOUNCER_RESERVE_POOL_SIZE=10
